body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  /* display: inline-grid; */
  display: grid;

  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  /* grid-template-columns: 300px 900px; */
  /* grid-template-rows: 100px 100px 500px 100px; */
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 12px;
}

.header {
  background-color: #006157;
  grid-column: span 2;
}

.sidebar {
  background-color: #005B94;
  grid-row: 2 / -2;
}

.nav {
  background-color: #642cde;
  /* grid-row: 2 / 3; */
  /* grid-column: 2; */
}

.article {
  background-color: #7E1DC3;
  /* grid-row: 3; */
  /* grid-column: 2; */
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
  /* grid-row: -2 / -1; */
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}